<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Trade Diary</title>

        <!-- https://unsplash.com/s/photos/trading -->
        <style>
            body {
                background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("static/trading_back.jpg");
                background-repeat: no-repeat;
                background-attachment:fixed;
                background-size:cover;
                color: #fff;
            }
        </style>
    </head>

    <body>
        <form action="/" method="post">
            <div class="banner-text">
                <h1>TRADE DIARY</h1>
                <p>Best place to keep track of your trades daily and present your progression</p>
                <a href="login.html"></a>
                    <button class="btn" id="btn" type="submit">LET'S GET STARTED</button>
                </a>
            </div>
        </form>
    </body>
</html>