{% extends "layout.html" %}

{% block title %}
    Password Update
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <h1>Update Password</h1>
            <br>
            <p>To update password, enter the current password, new password, confirmation password, and answer security question.</p>
            <p>Confirmation email will be sent after completing update.</p>
            <br>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="ex_password" name="existpassword" placeholder="Existing Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new-pass" name="newpass" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirm_pass" name="confirmpass" placeholder="Confirm Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="answer" name="answer" placeholder="First pet's name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}